/*police du site*/
html{
    font-family: 'Muli', sans-serif;
}

/*corp de la page*/
body{
    height: 100%;
}

/* footer */
footer {
    position: fixed;
    background-color: #333;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

/* nav */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    background-color: #333;
}

li {
    float:left;
    margin:auto;
    padding:0;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    width:100px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#menu ul li ul {
    display:none;
}

#menu ul li:hover ul {
    display:block;
}

#menu li:hover ul li {
    float:none;
}

#menu li ul {
    position:absolute;
}

img{
    margin-bottom: 10px;
    margin-left: 10px;
    height: 150px;
    width: 150px;
}

h1{
    text-align: center;
    font-size: 50px;
}

.copyright{
    font-size: small;
}

.content {
    margin-top: 20px;
    margin-bottom: 100px;
}

#formulaire label{
    display: block;
}

#formulaire p{
    box-sizing: border-box;
    margin-bottom: 10px;
}

#formulaire input[type=submit] {
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px #D83F3D;
    cursor:pointer;
}

#formulaire input[type=reset] {
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px #D83F3D;
    cursor:pointer;
}

#formulaire fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #DF3F3F;
}

#formulaire img{
    height: 300px;
    width:300px;
}

#formulaire legend {
    color:#DF3F3F;
    font-weight:bold
}

#formulaire input, textarea, select {
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

#formulaire label {
    display: block;
    width: 150px;
    float: left;
}

.label-inline{
    display: inline-block;
    width: 150px;
    float: left;
}

#formulaire h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text1 {
    padding: 30px 0 30px 30px;
    color: black;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.3);
    font-size: 30px;
}

.text{
    font-weight: bold;
    text-shadow: 2px 2px 0 white,
    4px 4px 0 black;
    font-size: 30px;
}